body {
  font-family: 'Poppins', sans-serif; /* Ensure this is applied to body */
}
.first-container {
  background-color: green;
  height: 100px;
}
.second-container {
  background-color: blue;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.second-container img {
  width: 100%;
  height: 100%;
  animation: zoomIn 15s forwards;
  object-fit: cover;
  /* transform-origin: top; */
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.30);
  }
}
.text-overlay {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-text {
  font-size: 150px;
  font-weight: bold;
  white-space: nowrap;
  animation: slideInFromTop 2s forwards;
}
.small-text {
  font-size: 50px;
  animation: slideInFromBottom 2s forwards;
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.donation-button {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1; /* Set z-index with a numeric value */
}
.donation-button:hover {
  background-color: darkred;
}
.third-container{
  display: flex;
  position: relative;
  height: 300px;
  justify-content: center;
  color: black;
}
.our-aim{
  display: flex;
  position: absolute;

}
.aim-list-container{
  display: flex;
  position: absolute;
  top: 40px;
  color: lightblue;
}
.fourth-container{
  background-color: blue;
  height: 300px;
  display: flex;
  position: relative;
}
.founder-name,
.role-text{
  display: flex;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 40px;
  left: 100px;
  top: 20px;
}
.role-text{
top: 70px;
left: 350px;
font-size: 30px;
}
.first-description{
display: flex;
position: absolute;
color: white;
top: 150px;
left: 40px;
}
.second-description,
.thank-button{
display: flex;
position: absolute;
color: white;
top: 172px;
left: 340px;
}
.thank-button{
top: 220px;
left: 370px;
border: 3px solid white;
padding: 5px;
}
.profile-image{
display: flex;
position: absolute;
background-color: red;
height: 250px;
width: 250px;
border-radius: 150px;
right: 200px;
top: 25px;
}
.profile-image img {
width: 100%;
height: 100%;
border-radius: 50%;
}